<?xml version="1.0"?>
<!--
/**
 * Copyright © 2024 Line. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="verified_purchase" frontName="verified_purchase">
            <module name="Line_VerifiedPurchase" before="Magento_Backend" />
        </route>
    </router>
</config>
